### Dataset Overview:

The Sleep Health and Lifestyle Dataset comprises 400 rows and 13 columns, covering a wide range of variables related to sleep and daily habits. It includes details such as gender, age, occupation, sleep duration, quality of sleep, physical activity level, stress levels, BMI category, blood pressure, heart rate, daily steps, and the presence or absence of sleep disorders.

### Key Features in Dataset

1. Comprehensive Sleep Metrics: Explore sleep duration, quality, and factors influencing sleep patterns
2. Lifestyle Factors: Analyze physical activity levels, stress levels, and BMI categories.
3. Cardiovascular Health: Examine blood pressure and heart rate measurements.
4. Sleep Disorder Analysis: Identify the occurrence of sleep disorders such as Insomnia and Sleep Apnea.

### Dataset Columns:

1.  PersonID: An identifier for each individual.
2.  Gender: The gender of the person (Male/Female).
3.  Age: The age of the person in years.
4.  Occupation: Occupation or profession of person
5.  Sleep Duration (hours): The number of hours the person sleeps per day.
6.  Quality of Sleep (scale: 1-10): A subjective rating of the quality of sleep, ranging from 1 to 10.
7.  Physical Activity Level (minutes/day): The number of minutes the person engages in physical activity daily.
8.  Stress Level (scale: 1-10): A subjective rating of the stress level experienced by the person, ranging from 1 to 10.
9.  BMI Category: The BMI category of the person (e.g., Underweight, Normal, Overweight).
10. Blood Pressure (systolic/diastolic): The blood pressure measurement of the person, indicated as systolic pressure over diastolic pressure.
11. Heart Rate (bpm): The resting heart rate of the person in beats per minute.
12. Daily Steps: The number of steps the person takes per day.
13. Sleep Disorder: The presence or absence of a sleep disorder in the person (None, Insomnia, Sleep Apnea).

## Details About Sleep Disorder Columns

1.  None: The individual does not exhibit any specific sleep disorder.
2.  Insomnia: The individual experiences difficulty falling asleep or staying asleep, leading to inadequate or poor-quality sleep.
3.  Sleep Apnea: The individual suffers from pauses in breathing during sleep, resulting in disrupted sleep patterns and potential health risks.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_file = 'data.csv'

In [2]:
data = pd.read_csv(data_file, index_col=0)
data.head(10)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
8,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN
9,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN
10,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN

In [3]:
data.columns

Index(['Gender', 'Age', 'Occupation', 'Sleep Duration', 'Quality of Sleep',
       'Physical Activity Level', 'Stress Level', 'BMI Category',
       'Blood Pressure', 'Heart Rate', 'Daily Steps', 'Sleep Disorder'],
      dtype='object')

In [4]:
data.sample(20)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
9,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN
135,Male,38,Lawyer,7.3,8,60,5,Normal,130/85,68,8000,NaN
111,Female,37,Accountant,7.2,8,60,4,Normal,115/75,68,7000,NaN
151,Female,39,Accountant,8.0,9,80,3,Normal Weight,115/78,67,7500,NaN
16,Male,29,Doctor,6.0,6,30,8,Normal,120/80,70,8000,NaN
31,Female,30,Nurse,6.4,5,35,7,Normal Weight,130/86,78,4100,Sleep Apnea
107,Female,37,Nurse,6.1,6,42,6,Overweight,126/83,77,4200,NaN
326,Female,53,Engineer,8.5,9,30,3,Normal,125/80,65,5000,NaN
311,Female,52,Accountant,6.6,7,45,7,Overweight,130/85,72,6000,Insomnia
333,Female,54,Engineer,8.4,9,30,3,Normal,125/80,65,5000,NaN
368,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
160,Male,39,Lawyer,7.2,8,60,5,Normal,130/85,68,8000,NaN
45,Male,31,Doctor,7.7,7,75,6,Normal,120/80,70,8000,NaN
242,Male,44,Salesperson,6.3,6,45,7,Overweight,130/85,72,6000,Insomnia
90,Male,35,Engineer,7.3,8,60,4,Normal,125/80,65,5000,NaN
153,Male,39,Lawyer,7.2,8,60,5,Normal,130/85,68,8000,NaN
20,Male,30,Doctor,7.6,7,75,6,Normal,120/80,70,8000,NaN
255,Female,45,Teacher,6.5,7,45,4,Overweight,135/90,65,6000,Insomnia
247,Male,44,Salesperson,6.3,6,45,7,Overweight,130/85,72,6000,Insomnia
157,Male,39,Lawyer,7.2,8,60,5,Normal,130/85,68,8000,NaN

In [5]:
data_new = data.copy()

In [6]:
data_new.loc[data_new['BMI Category'] == 'Normal Weight'] = 'Normal'
data_new

/var/folders/0x/6g78zn811lx20sbw8vydh3lw0000gn/T/ipykernel_6410/1512891897.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Normal' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_new.loc[data_new['BMI Category'] == 'Normal Weight'] = 'Normal'
/var/folders/0x/6g78zn811lx20sbw8vydh3lw0000gn/T/ipykernel_6410/1512891897.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Normal' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data_new.loc[data_new['BMI Category'] == 'Normal Weight'] = 'Normal'

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...
370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [19]:
jml_nw = data_new['BMI Category'] == "Normal Weight"
jml_nw.sum()

0

In [20]:
jml_nw_ori = data['BMI Category'] == "Normal Weight"
jml_nw_ori.sum()

21